In [1]:
import pandas as pd

In [2]:
buyer=pd.read_csv("BuyerRatio.csv")
buyer

  Observed Values  Males  Females
0            East     50      435
1            West    142     1523
2           North    131     1356
3           South     70      750

In [5]:
#NORMALITY TEST
from scipy import stats
males=stats.shapiro(buyer['Males'])

print("p_value:",males[1])

p_value: 0.3418928384780884

In [6]:
Females=stats.shapiro(buyer['Females'])
print("p_value:",Females[1])

p_value: 0.5480376482009888

In [9]:
#Variance Test
stats.levene(buyer["Males"],buyer["Females"])

LeveneResult(statistic=25.694912625561308, pvalue=0.002290209764722868)

In [11]:

t_value,p_value=stats.ttest_ind(a=buyer['Males'],b=buyer["Females"],equal_var=False)

In [13]:
p_value

0.03626795825668435

In [14]:
if p_value<=0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis