In [1]:
import pandas as pd

In [18]:
customer=pd.read_csv("Costomer+OrderForm.csv")
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [5]:
#contingency_table

dataset_table=pd.crosstab(customer["Phillippines"],customer["Indonesia"])
print(dataset_table)

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [6]:
from scipy import stats
chi2, p, dof, ex = stats.chi2_contingency(dataset_table)

In [7]:
p

0.6665712150680798

In [8]:
dataset_table1=pd.crosstab(customer["Phillippines"],customer["Indonesia"])
print(dataset_table1)

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [9]:
from scipy import stats
chi2, p, dof, ex = stats.chi2_contingency(dataset_table1)
p

0.6665712150680798

In [10]:
dataset_table2=pd.crosstab(customer["Indonesia"],customer["India"])
print(dataset_table2)

India       Defective  Error Free
Indonesia
Defective           2          31
Error Free         18         249

In [11]:
from scipy import stats
chi2, p, dof, ex = stats.chi2_contingency(dataset_table2)
p

0.8243761295490989

# Accept Alternative Hypothesis