In [28]:
import pandas as pd
import scipy 
from scipy import stats

In [2]:
cutlets=pd.read_csv("Cutlets.csv")
cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [26]:
#Normality test 
SupA=stats.shapiro(cutlets["Unit A"])    #Shapiro Test
SupA_pValue=SupA[1]
print("p-value is: "+str(SupA_pValue))

p-value is: 0.3199819028377533

In [27]:
#Normality test 
Supb=stats.shapiro(cutlets["Unit B"])    #Shapiro Test
Supb_pValue=Supb[1]
print("p-value is: "+str(Supb_pValue))

p-value is: 0.5224985480308533

In [23]:
#Varience Test 
import scipy 
scipy.stats.levene(cutlets["Unit A"],cutlets["Unit B"])

LeveneResult(statistic=0.665089763863238, pvalue=0.4176162212502553)

In [12]:
cutlets["Unit A"].mean()

7.01909142857143

In [13]:
cutlets["Unit B"].mean()

6.964297142857142

In [15]:
#two-sample T-test
import scipy.stats as stats
import math
t_value,p_value=stats.ttest_ind(a=cutlets["Unit A"]   ,b=cutlets["Unit B"],equal_var=False)

In [16]:
p_value

0.4723132481914539

In [17]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis