In [1]:
import pandas as pd

In [2]:
faltoon=pd.read_csv("Faltoons.csv")
faltoon

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [3]:
#contingency_table
dataset_table=pd.crosstab(faltoon["Weekdays"],faltoon["Weekend"])
print(dataset_table)

Weekend   Female  Male
Weekdays
Female       167   120
Male          66    47

In [4]:
from scipy import stats
chi2, p, dof, ex = stats.chi2_contingency(dataset_table)
p

0.9421022439386241

In [5]:
if p<=0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis