In [2]:
import pandas as pd
import scipy 
from scipy import stats

In [3]:
lab=pd.read_csv("LabTAT.csv")
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [4]:
#normality test
lab1=stats.shapiro(lab["Laboratory 1"])
lab1_pvalue=lab1[1]
print("pvalue:",lab1_pvalue)

pvalue: 0.5506953597068787

In [5]:
#normality test
lab2=stats.shapiro(lab["Laboratory 2"])
lab2_pvalue=lab2[1]
print("pvalue:",lab2_pvalue)

pvalue: 0.8637524843215942

In [6]:
#normality test
lab3=stats.shapiro(lab["Laboratory 3"])
lab3_pvalue=lab3[1]
print("pvalue:",lab3_pvalue)

pvalue: 0.4205053448677063

In [7]:
#normality test
lab4=stats.shapiro(lab["Laboratory 4"])
lab4_pvalue=lab4[1]
print("pvalue:",lab4_pvalue)

pvalue: 0.6618951559066772

In [8]:
#variance test
scipy.stats.levene(lab["Laboratory 1"],lab["Laboratory 2"])
scipy.stats.levene(lab["Laboratory 2"],lab["Laboratory 3"])
scipy.stats.levene(lab["Laboratory 3"],lab["Laboratory 4"])
scipy.stats.levene(lab["Laboratory 4"],lab["Laboratory 1"])

LeveneResult(statistic=1.5000140718506723, pvalue=0.22188001348277267)

In [9]:
a=lab["Laboratory 1"]
b=lab["Laboratory 2"]
c=lab["Laboratory 3"]
d=lab["Laboratory 4"]

In [10]:
stat,p_value=stats.f_oneway(a,b,c,d)

In [11]:
p_value

2.1156708949992414e-57

In [12]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis